/* light mode body */
body {
	margin: 0 auto;
	max-width: 35em;
	font-family: "Helvetica", "Arial", sans-serif;
	background-image: url("https://euroblitz.github.io/img/background-light.png");
	background-repeat: repeat;
	background-size: 20%;
	color: black;
}

/* dark mode body */
@media (prefers-color-scheme: dark) {
	body {
		margin: 0 auto;
		max-width: 35em;
		font-family: "Helvetica", "Arial", sans-serif;
		background-image: url("https://euroblitz.github.io/img/background.png");
		background-repeat: repeat;
		background-size: 20%;
		color: white;
	}
}

/* custom link colors */
	a:link {
	color: #618ded;
}
	a:hover {
	color: #9dbafa;
}
	a:visited {
	color: #9a7fc9;
}

/* text justify */
div {
	text-align: justify;
	text-justify: inter-word;
}

/* align image with the text */
img {
	float: left;
	padding-right: 20px;
}
