body {
     padding-left: 15px;
     padding-right: 15px;
     margin: 0 auto;
     max-width: 35em;
     font-family: "Helvetica", "Arial", sans-serif;
     background-image: url("https://euroblitz.github.io/img/background.png");
     background-repeat: repeat;
     background-size: 20%;
     color: white;
}
 div {
     text-align: justify;
     text-justify: inter-word;
}
 img {
     float: left;
     padding-right: 15px;
}
 a:link {
     color: #618ded;
}
 a:hover {
     color: #9dbafa;
}
 a:visited {
     color: #9a7fc9;
}
